.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	border-radius: 3px;
	padding: 0;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;

	&_type_submit {
		border: none;
		background-color: $primaryColor;

		@media (any-hover: hover) {
			&:hover {
				background-color: #053ce0;
			}
		}
	}

	&_type_link {
		background-color: transparent;
		border: 1px solid $borderColor;
		transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				border-color: $primaryColor;
			}
		}
	}

	&:active {
		transform: translateY(4px);
	}

	&__text {
		transform: translateY(1px);
		line-height: 24px;
		font-family: $primaryFont;
		font-size: 14px;
		font-weight: 400;

		.button_type_submit & {
			color: $secondaryColor;
		}

		.button_type_link & {
			color: $primaryTextColor;
		}
	}
}
