.wrapper {
	display: flex;
	flex-flow: column nowrap;
	min-width: $minWidth;
	min-height: 100%;
}

.checkout-page {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	width: 100%;
	flex: 1 1 auto;

	&__main {
		flex: 1 1 auto;
		padding: 141px 10px 30px;

		@media (min-width: $tablet) {
			padding: 141px 80px 40px 50px;
		}
	}

	&__main-top {
		margin: 0 20px 85px 20px;

		@media (min-width: $tablet) {
			margin: 0 0 85px 30px;
		}
	}

	&__main-center {
		@media (min-width: $tablet) {
			margin: 0 auto;
			max-width: 660px;
		}
	}

	&__aside {
		display: none;

		@media (min-width: $desktop) {
			display: block;
			flex: 0 0 410px;
			width: 100%;
			padding: 81px 0px 0;
			border-left: 1px solid $borderColor;
		}
	}
}
